<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Em qualquer caminho de pastas que passarmos, não precisamos citar a pasta public, 
    pois o express entende que a pasta "public, neste caso, é onde se 
    encontra os arquivos staticos"-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perguntar</title>
</head>